
@import "variables";
@import "bootstrap";

.change-color {
  width: 60px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid $card-black;
  box-shadow: inset 0 0 0 5px $white;
  aspect-ratio: 4/6;
}

.bg {
  &-blue {
    background-color: $card-blue;
  }

  &-green {
    background-color: $card-green;
  }

  &-orange {
    background-color: $card-orange;
  }

  &-red {
    background-color: $card-red;
  }
}