// Card color
$card-blue: #5555ff;
$card-green: #55aa55;
$card-orange: #ffaa00;
$card-red: #ff5555;
$card-black: #383838;
$card-yellow: #f8da29;

// Bootstrap overrides
//$body-bg: #6b7790;
$white: white;

// Dark mode
$enable-dark-mode: false;